html {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #0f1214;
    color: #fff;
    margin: 0 0 0 0;
}

* {
    box-sizing: inherit;
}

/* Mobile User */

@media (max-width: 815px) {

    :root {
        font-size: 12px;
    }

    body {
        overflow-x: hidden;
    }

    /* Navigation */

    #navbar {
        position: absolute !important;
        width: 100vw;
        text-align: center;
        margin: -15rem 0 0 0 !important;
        padding: 0;
        border-right: 0 !important;
    }

    #navbox {
        max-height: 10rem;
        overflow-y: scroll;
        border-top: 1px solid white;
        border-bottom: 2px solid #F0F0F0;
    }

    /* Main */

    #main-doc {
        margin: 17.5rem 2rem 0 2rem !important;
    }

    /* Credit */

    footer {
        position: static !important;
        margin: 2rem !important;
        text-align: center;
    }
}

/* Navigation */


#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: -2rem 0 0 0;
    height: 100vw;
    padding: 0;
    border-right: 0.125rem solid #A0A0A0;
}

#navbox {
    display: flex;
    flex-direction: column;
    max-height: calc(85vh - 100px);
    overflow-y: scroll;
}

#nav-header {
    margin: .75rem;
}

.nav-link {
    font-size: 1.25em;
    color: #fff;
    margin: 0;
    padding: .5rem;
    border-top: 1px solid #F0F0F0;
    text-decoration: none;
}

.nav-link.last-item {
    border-bottom: 1px solid #F0F0F0;
}

.nav-link:hover {
    background-color: #A0A0A0;
    color: #0f1214;
}

/* Main */

#main-doc {
    margin-left: 22rem;
    margin-right: 1rem;
}

.first-header {
    margin-top: 1.5rem;
}

header {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 3rem 0 0 0;
}

p {
    text-indent: 2rem;
}

/* Code Elements */

code {
    display: block;
    text-indent: 0;
    background: rgba(12,12,12,255);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 1px;
}

/* Credit */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

a[href="https://github.com/FishPasta"] {
    color: #A0A0A0;
}

#logo {
    width: 2rem;
    margin: 0 0 -.625rem 1rem;
}

.credit {
    margin-left: -1rem;
    padding: 0;
    font-size: .7rem;
    color: #A0A0A0;
}

.chatGPT {
    margin-top: -.5rem;
    font-style: italic;
}



